.header {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 30px;

  &__logo {
    display: block;
    height: 48px;
  }
}
::ng-deep {
  .header__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header__text {
      font-size: 0.9rem;
      line-height: 1.5;
    }

    .header__button {
      margin-left: 26px;
    }
  }
}
