.course-card {
  padding: 21px 57px 34px 24px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 7px solid #333e48;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom: 50px;

  &__title {
    margin: 0 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.6;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    width: 60.5%;
    font-size: 1rem;
    line-height: 1.25;
    color: #333e48;
  }

  &__side-block {
    width: 35%;
  }

  &__info {
    font-size: 1rem;
    line-height: 1.25;
    color: #333e48;
    margin-bottom: 31px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
  }
}
