<div class="course-card">
  <h3 class="course-card__title">{{ title }}</h3>
  <div class="course-card__content">
    <p class="course-card__description">{{ description }}</p>
    <div class="course-card__side-block">
      <div class="course-card__info">
        <p class="course-card__authors"><b>Authors:</b> {{ authors }}</p>
        <p class="course-card__duration"><b>Duration:</b> {{ duration }}</p>
        <p class="course-card__creation-date">
          <b>Created:</b> {{ creationDate }}
        </p>
      </div>
      <div class="course-card__menu">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
