<main class="container">
  <app-info
    *ngIf="!(courseList$ | async)!.length"
    title="your list is empty"
    text="Please use 'Add New Course' button to add your first course"
  >
    <app-button
      type="button"
      buttonText="add new course"
      (click)="onAddCourse()"
    ></app-button>
  </app-info>
  <app-search (userSearch)="onSearchCourses($event)"></app-search>
  <app-course-list
    class="course-list"
    [courses]="courseList$ | async"
    [coursesIsEditable]="coursesIsEditable$ | async"
  ></app-course-list>
</main>
